<Template name="header_layout">
    <div class="navbar navbar-custom">    
        <ol class="breadcrumb pull-right">
            {{#if currentUser}}
                <li><a href="/signup" class="sign-out">SIGNOUT</a></li>
            {{else}}
                <li><a href="/signup">SIGNUP</a></li>
                <li><a href="/login">LOGIN</a></li>
            {{/if}}
        </ol>
        <form class="navbar-form navbar-search" role="search">
            <span class="heading ml35 mt35">FLIPKART</span>
            <div class="input-group search-box ml60 mt35">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-search dropdown-toggle" data-toggle="dropdown">
                        <span class="label-icon">ALL</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-left" role="menu">
                       
                    </ul>
                </div>
    
                <input type="text" class="form-control">
            
                <div class="input-group-btn">
                    <button type="button" class="btn btn-search">
                    SEARCH
                    </button>  
                </div>
            </div>  
            <button type="button" class="btn btn-md cart mt35">
                <span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;&nbsp;Cart
            </button>
        </form>   
    </div>
    <div class="collapse navbar-collapse mb50" id="navbar_collapse">
        <ul class="nav navbar-nav ml230">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">ELECTRONICS <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li class="kopie"><a href="#"><strong>All Mobiles</strong></a></li>
                    <li><a href="#">IPhone</a></li>
                    <li><a href="#">Sony</a></li>
                    <li><a href="#">Micromax</a></li>
                    <li><a href="#">Samsung</a></li>
                    <li><a href="#">Lenovo</a></li>
                    <li><a href="#">Motorola</a></li>
                    <li><a href="#">Honor</a></li>
                    <li><a href="#">MI</a></li>
                            
                    <!-- <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown2 Link 4</a>
                        <ul class="dropdown-menu">
                            <li class="kopie"><a href="#">Dropdown2 Link 4</a></li>
                            <li><a href="#">Dropdown2 Submenu Link 4.1</a></li>
                            <li><a href="#">Dropdown2 Submenu Link 4.2</a></li>
                            <li><a href="#">Dropdown2 Submenu Link 4.3</a></li>
                            <li><a href="#">Dropdown2 Submenu Link 4.4</a></li>
                        </ul>
                    </li> -->                                 
                </ul>
            </li>
            <li><a class="dropdown-toggle" data-toggle="dropdown" href="#">MEN <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li class="kopie"><a href="#"><strong>All Clothings</strong></a></li>
                    <li><a href="#">T-Shirts</a></li>
                    <li><a href="#">Shirts</a></li>
                    <li><a href="#">Jeans</a></li>
                    <li><a href="#">Sportwear</a></li>
                    <li><a href="#">Trousers</a></li>
                    <li><a href="#">Value Packs</a></li>
                    <li><a href="#">Winterwear</a></li>
                    <li><a href="#">Innerwear</a></li>
                </ul>
            </li>
            <li><a class="dropdown-toggle" data-toggle="dropdown" href="#">WOMEN<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li class="kopie"><a href="#"><strong>All Clothings</strong></a></li>
                    <li><a href="#">T-Shirts</a></li>
                    <li><a href="#">Shirts</a></li>
                    <li><a href="#">Jeans</a></li>
                    <li><a href="#">Sportwear</a></li>
                    <li><a href="#">Trousers</a></li>
                    <li><a href="#">Value Packs</a></li>
                    <li><a href="#">Winterwear</a></li>
                    <li><a href="#">Innerwear</a></li>
                </ul>
            </li>
            <li><a class="dropdown-toggle" data-toggle="dropdown" href="#">BABY&KIDS<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li class="kopie"><a href="#"><strong>Kids & Baby Clothings</strong></a></li>
                    <li><a href="#">T-Shirts</a></li>
                    <li><a href="#">Shirts</a></li>
                    <li><a href="#">Jeans</a></li>
                    <li><a href="#">Sportwear</a></li>
                    <li><a href="#">Trousers</a></li>
                    <li><a href="#">Value Packs</a></li>
                    <li><a href="#">Winterwear</a></li>
                    <li><a href="#">Innerwear</a></li>
                </ul>
            </li>
            <li><a class="dropdown-toggle" data-toggle="dropdown" href="#">HOME&FURNITURE<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li class="kopie"><a href="#"><strong>All Furnitures</strong></a></li>
                    <li><a href="#">Bombay Dyeing</a></li>
                    <li><a href="#">Spaces</a></li>
                    <li><a href="#">Royal Home</a></li>
                    <li><a href="#">Story & Home</a></li>
                    <li><a href="#">Trident</a></li>
                    <li><a href="#">Well Home</a></li>
                    <li><a href="#">Swayam</a></li>
                    <li><a href="#">Raymond</a></li>
                </ul>
            </li>
            <li><a class="dropdown-toggle" data-toggle="dropdown" href="#">SHOES<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li class="kopie"><a href="#"><strong>All Footwear</strong></a></li>
                    <li><a href="#">Casual Shoes</a></li>
                    <li><a href="#">Sports Shoes</a></li>
                    <li><a href="#">Formal Shoes</a></li>
                    <li><a href="#">Sandals</a></li>
                    <li><a href="#">Flip-Flops</a></li>
                    <li><a href="#">Boots</a></li>
                    <li><a href="#">Sneakers</a></li>
                    <li><a href="#">Loafers</a></li>
                </ul>
            </li>
            <li><a class="dropdown-toggle" data-toggle="dropdown" href="#">SPORTS<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li class="kopie"><a href="#"><strong>Top Sports</strong></a></li>
                    <li><a href="#">Cricket</a></li>
                    <li><a href="#">Football</a></li>
                    <li><a href="#">Badminton</a></li>
                    <li><a href="#">Tennis</a></li>
                    <li><a href="#">Table Tennis</a></li>
                    <li><a href="#">Swimming</a></li>
                    <li><a href="#">Basketball</a></li>
                    <li><a href="#">Boxing</a></li>
                </ul>
            </li>
        </ul>       
    </div>
    <section id="main" role="main">
        {{> yield}}    
    </section> 
</Template>